.footer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 300px;
    

    color: white;
    background: #353535;

    z-index: 2;
}
.footer *{
    z-index: 3;
}
.footer__container .wave{
    transform: translateY(35%);
    z-index: -1;
}
.footerTab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 70%;
}
.footerTab .logo p{
    opacity: 1;
    font-size: 25px;
}
.footerTab .logo span{
    text-transform: capitalize;
}
.footerTab .footerCol{
    height: 120px;
}
.footerCol ul{
    padding: 0 20px;
}
.footerCol li{
    list-style-type: none;
}
.footerCol li i{
    margin-right: 7px;
}
.footerCol li a{
    color: white;
    text-decoration: none;
}

@media (max-width: 600px){
    .footer{
        height: auto;
    }
    .footerTab{
        justify-content: center;
        flex-direction: column;
        text-align: center;

        padding-top: 50px;
    }
    .footer .logo{
        margin-bottom: 10px;
    }
    .footerTab .footerCol{
        margin: 10px 0;
    }
}