@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Roboto&display=swap');


* {
  scroll-behavior: smooth;
}

body{
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

h1{
  margin: 0;

  font-size: 82px;
  font-weight: bold;
}
h2{
  text-align: center;
  margin: -10px 0 10px 0;

  font-size: 50px;
  font-weight: bold;
}
span{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  opacity: .7;
}
p{
  font-family: 'Outfit', sans-serif;
  margin: 0;

  opacity: .7;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
button{
  padding: 15px 150px;
  margin: 30px 0;

  background: #FFE8D6;

  border-radius: 15px;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 0;
}